---
import config from "@/config/config.json";

const { logo_text, title } = config.site;
---

<a href="/" class="navbar-brand inline-block">
  <span class="text-xl font-semibold tracking-normal text-text-dark dark:text-white">
    {logo_text || title}
  </span>
</a>
